

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cuentas</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- account info -->

  <div *ngFor="let item of accounts">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{item.accountNameToDisplay()}}</ion-card-subtitle>
        <ion-card-title>{{item.accountNumber}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{item.balanceToDisplay()}}
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
