

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Historial</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngFor="let item of entries">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Id: {{item.id}}</ion-card-subtitle>
        <ion-card-title>Fecha: {{item.date}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Transferencia realiza de cuenta de {{item.originAccount}} hacia cuenta de {{item.destinyAccount}}
        <br>
        {{item.amountToDisplay()}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
