<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Cuentas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="card"></ion-icon>
      <ion-label>Transferencias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="today"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
