

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Transferencias</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- dropdowns for accounts -->
  <!-- origin -->
  <ion-item> 
    <ion-label>Cuenta Origen</ion-label>
    <ion-select [(ngModel)]="originAccount">
      <ion-select-option *ngFor="let item of accounts" [value]="item">{{item.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- destiny -->
  <ion-item>
    <ion-label>Cuenta Destino</ion-label>
    <ion-select [(ngModel)]="destinyAccount">
      <ion-select-option *ngFor="let item of destinationAccounts()" [value]="item">{{item.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <!-- money input -->
    <div class="form-group">
      <ion-label>Monto $</ion-label>
      <ion-input input type="number" name="amount" id="amount" [(ngModel)]="amount" [value]="amount" class="form-control" placeholder="0.00" required></ion-input>
    </div>
   
  </ion-item>
  
  <!-- transfer button -->
  <div style="text-align: center; padding-top: 10px;">
    <ion-button color="primary" (click)="transferMoney()">Transferir</ion-button>
  </div>
  
</ion-content>
